<!DOCTYPE html>
<html>
<head>
<style>
/* .row {display: flex;}
.column {flex: 15%; padding: 5px;} */
</style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Find me Wine!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <!-- https://www.w3schools.com/howto/howto_css_images_side_by_side.asp -->
    <!-- <div class="row">
        <div class="column">
          <img src="flask_red2.png" alt="Red" style="width:50%">
        </div>
        <div class="column">
          <img src="flask_white2.jpg" alt="White" style="width:50%">
        </div>
        <div class="column">
          <img src="flask_rose.jpg" alt="Rose" style="width:50%">
        </div>
        <div class="column">
            <img src="flask_bubbles.jpg" alt="Bubbles" style="width:50%">
          </div>
        <div class="column">
            <img src="flask_other.jpg" alt="Other" style="width:50%">
        </div> -->
    <!-- </div> -->

    <h1>Pick a Color!</h1>
    <h3>What are you looking for?  Region?  Flavor?  Grape?  Producer?  Vineyard?</h3>
    <p><em>Type in some descriptors and find wines that are similar</em></p>
    <!-- <form action="/red">
        <p> 
            <label for="RedWine">Red Wine</label>
            <br>
            <input type="string" name="user_input_red">
        </p>
        <p>
            <button type="submit">Red Please!</button>
        </p>
    </form>

    <form action="/white">
        <p> 
            <label for="WhiteWine">White Wine</label>
            <br>
            <input type="string" name="user_input_white">
        </p>
        <p>
            <button type="submit">I'll take a White</button>
        </p>
    </form>

    <form action="/rose">
        <p> 
            <label for="RoseWine">Rose</label>
            <br>
            <input type="string" name="user_input_rose">
        </p>
        <p>
            <button type="submit">Pink Please!</button>
        </p>
    </form>
    
    <form action="/sparkling">
        <p> 
            <label for="SparklingWine">Sparkling</label>
            <br>
            <input type="string" name="user_input_sparkling">
            </p>
        <p>
            <button type="submit">Bubbles!</button>
        </p>
    </form>

    <form action="/other">
        <p> 
            <label for="OtherWine">Other Wine</label>
            <br>
            <input type="string" name="user_input_other">
        </p>
        <p>
            <button type="submit">Liquid Dessert...</button>
        </p>
    </form> -->

    <table style='width:100%'>
        <tr>
            <td><img src="flask_red2.png" alt="Red" style="width:50%"></td>
            <td><img src="flask_white2.jpg" alt="White" style="width:50%"></td>
            <td><img src="flask_rose.jpg" alt="Rose" style="width:50%"></td>
            <td><img src="flask_bubbles.jpg" alt="Bubbles" style="width:50%"></td>
            <td><img src="flask_other.jpg" alt="Other" style="width:50%"></td>
        </tr>
        <tr>
            <td>    
                <form action="/red">
                <p> 
                    <!-- <label for="RedWine">Red Wine</label> -->
                    <br>
                    <input type="string" name="user_input_red">
                </p>
                <p>
                    <button type="submit">Red Wine</button>
                </p>
                </form>
            </td>
            <td>    
                <form action="/white">
                <p> 
                    <!-- <label for="WhiteWine">White Wine</label> -->
                    <br>
                    <input type="string" name="user_input_white">
                </p>
                <p>
                    <button type="submit">White Wine</button>
                </p>
                </form>
            </td>
            <td>    
                <form action="/rose">
                <p> 
                    <!-- <label for="RoseWine">Rose</label> -->
                    <br>
                    <input type="string" name="user_input_rose">
                </p>
                <p>
                    <button type="submit">Rose Wine</button>
                </p>
                </form>
            </td>
            <td>
                <form action="/sparkling">
                    <p> 
                        <!-- <label for="SparklingWine">Sparkling</label> -->
                        <br>
                        <input type="string" name="user_input_sparkling">
                        </p>
                    <p>
                        <button type="submit">Bubbles</button>
                    </p>
                </form>
            </td>
            <td>
                <form action="/other">
                    <p> 
                        <!-- <label for="OtherWine">Other Wine</label> -->
                        <br>
                        <input type="string" name="user_input_other">
                    </p>
                    <p>
                        <button type="submit">Dessert Wine</button>
                    </p>
                </form>
            </td>
        </tr>
    

</body>
</html>